

.messageBox
{
  
  height: 85%;
  
}
.innerMessageDiv
{
  
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: -1;
}

.owner{
  
  display: flex;
  justify-content: flex-end;
  position: relative;
  
  
}

.notowner
{
  
  position: relative;
  display: flex;
}

.innerTextMessage
{
   width: 300px;
   
   padding: 10px 15px;
   border-radius: 20px;
  

}

.bg{
    background-color: #b2dbbf;;
}

.bg2{
  background-color: #a5e6b9;
}
.transparentt{
   background-color: transparent;
   
}


.outerBox
{
   display: flex;
   
   height: calc(100vh - 50px );

   
}

.mm
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.online
{
   flex: 0.2;
   height: 100%;
   /* overflow: scroll;
   overflow-x: hidden; */
   background-color: #f3ffbd;
   font-size: x-large;
   width: 100;
   
}

.current
{
   background-color: #247ba0;
}







.innerMessageDiv::-webkit-scrollbar
{
   width: 10px;
}
.innerMessageDiv::-webkit-scrollbar-thumb
{
    background-color:#247ba0;
    border-radius: 10px;
}

.messageDiv
{
   flex:0.6;
   height: 100%;
   background-color: #70c1b3;
   /* border: 2px solid red; */
}

.textDiv
{
    /* border: 1px solid yellow; */
    /* height: 20%; */
    display: flex;
}

.onlines
{
    /* font-weight: 800; */
    border-bottom: 1px solid;
    font-size: 1.4rem;
    margin: 8px 10px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    /* margin-right: 10px; */
    transition: background-color 0.3s;
    /* color: white; */

}

.onlines:hover
{
    background-color: #247ba0;
}


.textInput
{
  /* width: 80%; */
  flex: 0.8;
  height: 60px;
  outline: none;
  font-size: 16px;
  /* border-bottom: 1px solid; */
  border: 1px solid #58dfc8;
}

.btn
{
  /* width: 17%; */
  height: 60px;
  flex: 0.2;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border-bottom: 1px solid; */
  border: 1px solid #58dfc8;
}

.btn:hover
{
   background-color: #247ba0;
}


.on
{
    padding: 2px 5px;
}


.navHeight
{
   /* border: 1px solid; */
   height: 50px;
   display: flex;
   align-items: center;
   /* font-weight: bold; */
   font-size: x-large;
   text-align: center;
   background-color: #ff1654;
   color:white
}

.textStyle{
    font-size: x-large;
    /* color:white */
}

.nav1
{
   flex: 0.2;
}
.nav2
{
   flex: 0.6;
}
.nav3
{
   flex: 0.2;
   cursor: pointer;
}
.showHide
{
   position: absolute;
   top: 60px;
   z-index: 10;
   left: 10px;
   background-color: wheat;
   padding: 10px 15px;
   font-weight: bolder;
   border-radius: 10px;

}





.showHide
{
   display: none;
}


/* Login page CSSS */
.loginMainDiv
{
   /* border: 1px solid red; */
   background-color: bisque;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.center
{
   text-align: center;
}


.formMainDiv
{
  /* border: 1px solid; */
}

.formInput
{
   /* border: 1px solid red; */
   margin: 10px;
   
}

input
{
   font-size: 1.5rem;
   outline: none;
   background-color: transparent;
   border: none;
   border-radius: 10px;
}



.registerDiv
{
  font-size: larger;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}


.removeDec
{
    text-decoration: none;
    color: black;
}
.onlineLogo
{
     font-size: 1.5rem;
     /* text-align: center; */
     /* border: 1px solid; */
     margin: 10px 20px;
}

.onlineDIV
{
    /* width: 100%; */
    flex: 0.2;
    background-color: #f3ffbd;
    height: 100%;
}

.onlineeee
{
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    /* border: 2px solid; */
}

.onlineeee::-webkit-scrollbar
{
   width: 10px;
}

.onlineeee::-webkit-scrollbar-thumb
{
  background-color: #247ba0;
  border-radius: 10px;
}


.eachOnlineMember
{
     /* border: 1px solid; */
     padding: 10px 15px;
     font-size: larger;
     cursor: pointer;
     transition: background-color 0.3s;
     border-radius: 15px;
}

.eachOnlineMember:hover
{
    background-color: antiquewhite;
}

.wrapping
{
   height: 100%;
   /* border: 3px dotted red; */
}

.StartConver
{
    text-align: center;
    font-size: 1.5rem;
}

.absolutee
{
     position: absolute;
     /* border: 1px solid; */
     font-size: 10px;
     bottom: -10px;
     /* right: 0px; */
     border-radius: 30px;
     padding: 3px;
}


@media (max-width:700px)
{
  .messageDiv
  {
     /* border: 10px solid; */
     flex: 0.9;
  }

  .onlineDIV
  {
      flex: 0.1;
  }

  .online
  {
    /* flex: 0; */
    /* transform: translateX(100%); */
    position: absolute;
    z-index: 10;
    transition: transform 0.4s;

  }

  .showHide
  {
    display: block;
    cursor: pointer;
    background-color: #70c1b3;
    transition: background-color 0.3s;
  }

  .showHide:hover
  {
    background-color: #247ba0;
  }

  .onlineShow
{
  transform: translateX(0%);
}

.onlineHide
{
  transform: translateX(-100%);
}


  .nav1
  {
      /* flex: 0; */
      display: none;
  }

  .nav2
  {
      flex: 0.8;
  }

  .nav3
  {
     flex: 0.2;
  }


  .center
  {
      font-size: 1.5rem;
  }


  .innerTextMessage
  {
      width: 180px;
  }
}

